langserve
sse_starlette
python-dotenv
pypdf
chromadb
python-multipart
streamlit
langchain-community
langchain-openai
langchain-chroma
langchain
fastapi
uvicorn
pydantic
PyPDF2
python-docx
textract
yagmail
requests
sqlalchemy
